body{
    background-color: #d9dbd5;
    height: 100vh;
    padding: 20px 0;
}

.mega-container{
    height: 100%;
}

.container{
    height: 100%;
}

.row{
    height: 100%;
}

.user-header{
    padding: 10px;
    background-color: #eaeaea;
}

.user-header h6{
    padding-left: 5px;
    font-weight: bolder;
}

.user-header i:hover{
    cursor: pointer;
}

.opzion-icon{
    color: #b1b1b1;
}

.opzion-icon i{
    padding: 0 5px;
}

.my_chat{
    padding: 15px;
}

.my_chat img{
    margin-right: 15px;
}

.my_chat h6, p{
    margin: 0;
}

.my_chat p{
    font-size: 0.8rem;
    color: grey;
}

.user-message{
    overflow: auto;
}

.bg-active{
    background-color: #e9ebeb;
}

.scrollbar{
    width: 15px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2px;
}

.scrollbar i{
    font-size: 0.8rem;
}

.scrollbar i:hover{
    cursor: pointer;
}

.container-chat-scrollbar{
    height: calc(100% - 188px);
}

.mex{
    margin: 10px;
    padding: 15px 15px 20px;
    border-radius: 15px;
    font-size: 0.8rem;
    max-width: 40%;
    position: relative;
    font-weight: 600;
}

.send-mex{
    background-color: #d5f9ba;
    margin-left: calc(100% - 35% - 30px);
}

.recive-mex{
    background-color: #ffffff;
}

.time-send{
    font-size: 0.7rem;
    color: #6b7376;
    position: absolute;
    bottom: 1.5px;
    right: 7px;
}

#chat-section{
    overflow: auto;
    width: 100%;
}

#bg-darkgreen{
    background-color: #009688;
    height: 20%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
}

#chat-list{
    background-color: #ffffff;
}

#chat-list img{
    border-radius: 50%;
    width: 50px;
}

#notifications{
    background-color: #8edafc;
    padding: 10px;
}

#notifications i{
    color: #95e1fd;
    background-color: white;
    border-radius: 50%;
    font-size: 1.3rem;
    padding: 10px 7px;
    margin-right: 10px;
    margin: 5px;
}

#notifications h6{
    font-size: 0.8rem;
    font-weight: bolder;
    margin: 0;
}

#notifications p{
    font-size: 0.7rem;
    text-decoration: underline;
    color: #4f7485;
    margin: 0;
}

#notifications p:hover{
    cursor: pointer;
}

#search-chat {
    padding: 5px;
    background-color: #fafafa;
}

#search-chat i{
    background-color: #ffffff;
    border: 0.5px solid #b6b9bb;
    color: #b6b9bb;
    padding: 10px 25px;
}

#search-chat input{
    background-color: #ffffff;
    border: 0.5px solid #b6b9bb;
    padding: 6px 5px;
    border-left: none;
    width: 100%;
}

/* parte destra */
#text-chat{
    border-left: 0.7px solid #d6d6d6;
    border-right: 0.7px solid #d6d6d6;
    max-height: 100%;
}

#text-chat img{
    border-radius: 50%;
    width: 50px;
}

#text-chat .my_chat{
    padding: 0;
}

#text-chat .my_chat p{
    padding-left: 5px;
}

#wallpaper-chat{
    background-image: url(../img/mine.jpg);
    width: 100%;
    padding: 30px;
    overflow: auto;
    height: calc(100% - 140px);
}

#write-message{
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
    padding: 10px;
}

#write-message input{
    width: 100%;
    padding: 5px;
    border: none;
    margin: 0 15px;
}

#write-message i{
    color: #6b7376;
    font-size: 1.4rem;
    margin: 0 15px;
}
